{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Kaina</th>
                <th scope="col">Iš viso bilietų</th>
                <th scope="col">Nupirkti bilietai</th>
                <th scope="col">Seansai</th>
            </tr>
            </thead>
        <tbody>
            {% for u in ticket %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.price }}</td>
                    <td>
                        {% for y in time %}
                            <table class="table-condensed" style="border-style: hidden;">
                                <tr style="background-color: transparent;">
                                    {% if y.ticket == u %}
                                        <td>{{ y.available }}</td>
                                    {% endif %}
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                    <td>
                        {% for y in time %}
                            <table class="table-condensed" style="border-style: hidden;">
                                <tr style="background-color: transparent;">
                                    {% if y.ticket == u %}
                                        <td>{{ y.taken }}</td>
                                    {% endif %}
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                    <td>
                    {% for y in time %}
                        <table class="table-condensed" style="border-style: hidden;">
                            <tr style="background-color: transparent;">
                        {% if y.ticket == u %}
                        <td>{{ y.name|date('Y-m-d H:i') }}</td>
                            {% endif %}
                            </tr>
                        </table>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}